body {
   margin: 0px;
}
.top{
    background-color: #1F2937;
    padding: 10px 140px 100px;
}
.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    padding-right: 20px;
    
}

.logo h6 {
    padding-right: 20px;
    color: #f9faf8;
    font-size: 25px;
    margin: 0px;
}

.box-container,
.top-right {
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 16px;
     
}
a {
    text-decoration: none;
    color: white;
    
}

.top-right {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    flex-wrap: wrap;
}
.banner {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 60px;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding-top: 40px;
    
}

.banner h1 {
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
}
.banner h5 {
    font-size: 18px;
    color: #e5e7eb;
    word-wrap: break-word;
    max-width: 620px;
    margin-top: 10px;
    margin-bottom: 10px;
 
}
.banner img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner button {
    color: white;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 140px;


}
.content h3 {
    font-size: 36px;
    font-weight: bolder;
    word-wrap: break-word;
    text-align: center;
    margin: 10px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:40px;

}
.box-container img{
    color:#1F2937;
    border:2px solid #3882f6;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
}
.box-container p {
    word-wrap: break-word;
    max-width: 100px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    
}
.testimonial{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #e5e7eb;
   font-family: Quicksand;
   color: #1F2937;
   padding: 40px 140px;
}
.testimonial h5 {
    font-size: 18px;
    font-weight:lighter;
    font-style: italic;
    max-width:500px; 
    margin: 0px;
   
}
.testimonial p{
    font-weight: bold;
    font-style: normal;
    text-align: right;
    font-size: 12px;
}

.subscribe {
   display: flex;
   justify-content: center;
   padding: 40px 140px;
   
}
.subscribe-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 10px 80px ;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e5e7eb;
    font-weight:bolder;
    font-size: 20px;
    
}
.subscribe h6 p {
    padding-right: 60px;
    margin: 0px;
    padding-top: 3px;
    font-weight: lighter;
    font-size: 11px;
    
}
.subscribe button {
    background-color: #3882f6;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    
    padding: 5px 20px;
}

.footer {
    background-color: #1F2937;
    padding: 15px;
    color: #e5e7eb;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}